extends layout
block header
  h1.header ボーナスポイント比較ナビ
  .card
    .card-content
      h2.info-text
        span Lowsonで獲得できるボーナスポイントを還元率順に並べて表示しています。
        
        ul.info-list
          li.info-item
            span.info-mark(data-mark="gold")
            span 還元率
            strong 35%
            span 以上
          li.info-item
            span.info-mark(data-mark="silver")
            span 還元率
            strong 25%
            span 以上
          li.info-item
            span.info-mark(data-mark="bronze")
            span 還元率
            strong 15%
            span 以上
          li.info-item
            span.info-mark(data-mark="other")
            span 還元率15%未満
block main
  ul
    - for(var i=0;i<self.data.length;i++)
      li.card.grey.lighten-5
        div.card-content.row
          .circle.card-image.col.s4
            img(src=self.data[i].image)
          .col.s8
            div
              p(data-campany)| #{self.data[i].campany}
              p(data-itemName)| #{self.data[i].itemName}
            div
              p| 税込価格：
                span(data-priceText)| #{self.data[i].priceText}
            div.card-point
              //- ここはデータ属性の値によって色を変える4パターン：data-mark="gold",data-mark="silver",data-mark="bronze",data-mark="other"
              span.cassette-mark(data-mark=self.data[i].mark)
              span(data-point)| #{self.data[i].pointText}
                |  (
              span(data-price,data-point)|#{self.data[i].unitRate}%
                | )

block footer
  .container
    ul.container.row
      li.row.col.s4
        span.waves-effect.waves-light.btn-large.red.lighten-3
          span.footer-icon(data-mark="coin")
      li.row.col.s4
        span.waves-effect.waves-light.btn-large.red.lighten-3
          span.footer-icon(data-mark="yen")
      li.row.col.s4
        span.waves-effect.waves-light.btn-large.red.lighten-3
          span.footer-icon(data-mark="top")

  .footer-copyright
    .container| © 2014 Copyright Text
    a.grey-text.text-lighten-4.right| More Links
