extends layout
block header
  h1.header ボーナスポイント比較ナビ
  .card
    .card-content
      h2.info-text
        span Lowsonで獲得できるボーナスポイントを還元率順に並べて表示しています。
block main
  ul
    - var flag = 'test';
      - for(var i=0;i<self.data.length;i++)
        if self.data[i].mark == 'gold' && flag != 'gold'
          li.card-pointDetail
            |還元率
            strong 35%
            span 以上
          - flag = self.data[i].mark
        else if self.data[i].mark == 'silver' && flag != 'silver'
          li.card-pointDetail
            |還元率
            strong 25%
            span 以上
             #{flag}
          - flag = self.data[i].mark
        else if self.data[i].mark == 'bronze' && flag != 'bronze'
          li.card-pointDetail
            |還元率
            strong 15%
            span 以上
          - flag = self.data[i].mark
        else if self.data[i].mark == 'other' && flag != 'other'
          li.card-pointDetail
            |還元率
            span 15%未満
          - flag = self.data[i].mark
        li.card.grey.lighten-5
          div.card-content.row
            .circle.card-image.col.s4
              img(src=self.data[i].image)
            .col.s8
              div
                p(data-campany)| #{self.data[i].campany}
                p(data-itemName)| #{self.data[i].itemName}
              div
                p| 税込価格：
                  span(data-priceText)| #{self.data[i].priceText}
              div.card-point
                //- ここはデータ属性の値によって色を変える4パターン：data-mark="gold",data-mark="silver",data-mark="bronze",data-mark="other"
                span.cassette-mark(data-mark=self.data[i].mark)
                span(data-point)| #{self.data[i].pointText}
                  |  (
                span(data-price,data-point)|#{self.data[i].unitRate}%
                  | )

block footer
  .container
    div(style='position: relative; height: 70px;')
    .fixed-action-btn.click-to-toggle.direction-top.direction-left(style='position: absolute; right: 24px;')
        a.btn-floating.btn-large.red
          span.footer-icon(data-mark="bars")
        ul.footer-btnList
          li
            a.btn-floating.red(style='opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);')
              span.footer-icon(data-mark="bars")
          li
            a.btn-floating.yellow.darken-1(style='opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);')
              span.footer-icon(data-mark="bars")
          li
            a.btn-floating.green(style='opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);')
              span.footer-icon(data-mark="bars")
          li
            a.btn-floating.blue(style='opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);')
              span.footer-icon(data-mark="bars")

  .footer-copyright
    .container| © 2014 Copyright Text
    a.grey-text.text-lighten-4.right| More Links
