extends layout
block header
  h1.header ボーナスポイント比較ナビ
  .card.card-header
    .card-content
      h2.info-text
        span Lowsonで獲得できるボーナスポイントを還元率順に並べて表示しています。
block main
  ul.flex-wrapper
    - var flag = '';
      - for(var i=0;i<self.data.length;i++)
        if self.data[i].mark == 'gold' && flag != 'gold'
          li.card-title
            span.crown-icon(data-mark=self.data[i].mark)
            strong|還元率35%以上
          - flag = self.data[i].mark
        else if self.data[i].mark == 'silver' && flag != 'silver'
          li.card-title
            span.crown-icon(data-mark=self.data[i].mark)
            strong|還元率25%以上
          - flag = self.data[i].mark
        else if self.data[i].mark == 'bronze' && flag != 'bronze'
          li.card-title
            span.crown-icon(data-mark=self.data[i].mark)
            strong|還元率15%以上
          - flag = self.data[i].mark
        else if self.data[i].mark == 'other' && flag != 'other'
          li.card-title
            span.crown-icon(data-mark=self.data[i].mark)
            |還元率15%未満
          - flag = self.data[i].mark
        li.card.grey.lighten-5
          div.card-content.row
            .circle.card-image.col.s5
              img(src=self.data[i].image)
            .card-textBox.col.s7
              div
                p.card-text(data-campany)| #{self.data[i].campany}
                p.card-text(data-itemName)| #{self.data[i].itemName}
              div
                p| 税込価格：
                  span(data-priceText)| #{self.data[i].priceText}
              div.card-point
                //- ここはデータ属性の値によって色を変える4パターン：data-mark="gold",data-mark="silver",data-mark="bronze",data-mark="other"
                span.crown-icon(data-mark=self.data[i].mark)
                span(data-point)| #{self.data[i].pointText}
                  |  (
                span(data-price,data-point)|#{self.data[i].unitRate}%
                  | )
              div
                p|
                  span(data-termText)| #{self.data[i].termText}

block footer
  .container
    //- PC用
    .fixed-action-btn.click-to-toggle.is-pc
        a.btn-floating.btn-large.red
          span.footer-icon(data-mark="bars")
        ul.footer-btnList
          li
            a.btn-floating(href="/lowson" style='opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);')
              span.footer-icon(data-mark="lowson")
          li
            a.btn-floating.darken-1(style='opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);')
              span.footer-icon(data-mark="famima")
          li
            a.btn-floating.darken-1(style='opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);')
              span.footer-icon(data-mark="seven")
          li
            a.btn-floating(style='opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);')
              span.footer-icon(data-mark="top")
    //- スマホ用
    .fixed-action-btn.click-to-toggle.is-sp
        a.btn-floating.btn-large.red
          span.footer-icon(data-mark="bars")
        ul.footer-btnList.footer-btnList__left
          li
            a.btn-floating(href="/lowson" style='opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);')
              span.footer-icon(data-mark="lowson")
          li
            a.btn-floating.darken-1(style='opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);')
              span.footer-icon(data-mark="famima")
        ul.footer-btnList.footer-btnList__rigth
          li
            a.btn-floating(style='opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);')
              span.footer-icon(data-mark="top")
          li
            a.btn-floating.darken-1(style='opacity: 0; transform: scale(0.4) translateY(0px) translateX(40px);')
              span.footer-icon(data-mark="seven")